<!DOCTYPE html>
<html>
<head>
	<title>Settrisk</title>
</head>
<body>
<img src="/img/Settrisk-icon-152x152-01.png">
<h1>404 error</h1>
<p>Sorry, this site is not deployed for the web yet. <br><br>We currently have a problem with Heroku not supporting RethinkDB, though we're working on it. <br>Eather we wait for Heroku to build such plugin, or we change to MongoDB. <br><br>Wellcome back later!</p>
</body>
<style type="text/css">

body {	
    text-align: center;
    padding: 20%;
}
img {
    margin-top: -9999px;
}
p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Calibri', Verdana, Geneva, sans-serif;
  color: #565656;
}


</style>
</html>