

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*font-family: 'Calibri', Verdana, Geneva, sans-serif;*/
  font-family: "Courier", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Calibri', Verdana, Geneva, sans-serif;
  color: #ecf0f1;
}
h5 {color: black;}
p{
  font-size: 1.1em;
  margin: 3px;
}

.resurs{ 
  margin: 2px;
}
#panel .resurs{
  position: absolute;
}

.resurs>div {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: inline-block;
    box-shadow: -0.5px -2px 8px -2px black inset;
}
.trä{background-color: #1abc9c;}
.sten{background-color: #FFFFFF;}
.olja{background-color: #B697D8;}
.säd{background-color: #f1c40f;}
.djur{background-color: #75B96B;}

.trupp{
  background-color: #FAFAFA; 
  background-image: url(img/trupp.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 7px 1px;
}
.invånare{
  background-color: #e67359; 
  background-image: url(img/trupp.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 7px 1px;
}
.valfri{
  background-color: #FAFAFA; 
  background: radial-gradient( circle, white, #e67359, #eec10e, #74b76a, #1ab5bc);
  /* background-image: url(img/trupp.png); */
  background-position: 3px 4px;
  background-size: 152%;
}
.valfri:before {
  content: "59";
  text-align: center;
  width: 25px;
  display: block;
  margin-top: 1px;
}

#trade .res{ width: 25%; height: 35px; }
#trade .player{ width: 40%; height: 50px; }
#trade_container .resurs {display: inline-block;}

.resurs_staplar {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.resurs_staplar * {
    display: inline-block;
    vertical-align: middle;
}
.resurs_staplar .stapel {
    display: inline-block;
    margin: 5px;
}
.stapel h5 {
    text-indent: -5px;
}

/*#trade .res, #trade .player {
  justify-content: center;
  border-radius: 15px;    
  box-shadow: 0 0 0 1px rgb(79, 147, 169), 0 2px 1px 1px #5CB7D4 inset, 0 -2px 1px 1px #4697B0 inset, 0 4px 1px 1px rgba(11, 41, 49, 0.27), 0 5px 1px 2px #5FAFC7, 0 -2px 0px 3px #3994AF;
  background: radial-gradient(at top 55% left 55%, #47AFCC, #45ABC5, #3C92A9);
  font-size: 20px;
  margin: 10px 7px;
  text-shadow: 0 2px 2px gray;
  color: white;
}
#trade .res:disabled, #trade .res:active, #trade .player:disabled, #trade .player:active {
  box-shadow: 0 0 0 1px rgb(79, 147, 169), 0 2px 1px 1px #4697B0 inset, 0 -2px 2px 0px rgba(1, 54, 68, 0.93), 0 5px 1px 2px #5FAFC7, 0 -2px 0px 3px #3994AF;
  background: radial-gradient(at top 55% left 55%, #47AFCC, #45ABC5, #3C92A9);
}*/
#trade .res:disabled, #trade .player:disabled {
  opacity: 0.5;
}
/*#trade .res, #trade .player {
  justify-content: center;
  border-radius: 100px;    
  overflow: hidden;
  box-shadow: -1px -1px 0px 1px rgb(60, 130, 152);
  background: radial-gradient(at top 55% left 55%, #47AFCC, #45ABC5, #3C92A9);
  font-size: 20px;
  margin: 10px 7px;
  text-shadow: 0 2px 2px gray;
  color: white;
}*/
#trade .res:disabled, #trade .res:active, #trade .player:disabled, #trade .player:active { 
  box-shadow: none;  
  opacity: 0.7;
  /*box-shadow: 0 0 0 1px rgb(79, 147, 169), 0 2px 1px 1px #4697B0 inset, 0 -2px 2px 0px rgba(1, 54, 68, 0.93), 0 5px 1px 2px #5FAFC7, 0 -2px 0px 3px #3994AF;
  background: radial-gradient(at top 55% left 55%, #47AFCC, #45ABC5, #3C92A9);
  text-shadow: 2px 1px 0 rgba(61, 132, 148, 0.99333), 1px 1px 0.2px rgba(47, 147, 172, 0.99333),2px 2px 0.4px rgba(47, 147, 172, 0.98667),3px 3px 0.6px rgba(47, 147, 172, 0.98),4px 4px 0.8px rgba(47, 147, 172, 0.97333),5px 5px 1px rgba(47, 147, 172, 0.96667),6px 6px 1.2px rgba(47, 147, 172, 0.96),7px 7px 1.4px rgba(47, 147, 172, 0.95333),8px 8px .6px rgba(47, 147, 172, 0.94667),9px 9px .8px rgba(47, 147, 172, 0.94),10px 10px 2px rgba(47, 147, 172, 0.93333),11px 11px .2px rgba(47, 147, 172, 0.92667),12px 12px 2.4px rgba(47, 147, 172, 0.92),13px 13px 2.6px rgba(47, 147, 172, 0.91333),14px 14px 2.8px rgba(47, 147, 172, 0.90667),15px 15px 3px rgba(47, 147, 172, 0.9),16px 16px 3.2px rgba(47, 147, 172, 0.89333),17px 17px 3.4px rgba(47, 147, 172, 0.88667),18px 18px 3.6px rgba(47, 147, 172, 0.88),19px 19px 3.8px rgba(47, 147, 172, 0.87333),20px 20px 4px rgba(47, 147, 172, 0.86667); 
*/}
#trade .res, #trade .player {
  justify-content: center;
  border-radius: 100px;    
  overflow: hidden;
  font-size: 20px;
  margin: 10px 7px;
  color: white;
  box-shadow: 1px 2px 1px 1px #3994AF;
  background: #54ADC7;
  /*box-shadow: 0 1px 0px 1px #5CB7D4 inset, 0 0px 0px 0px #4697B0 inset, 0 3px 0px 0px rgba(11, 41, 49, 0.27), 0 0px 0px 3px #3994AF, 0 2px 0px 3px #5DB5D0;*/
  /*background: radial-gradient(at top 55% left 55%, #47AFCC, #45ABC5, #3C92A9);*/
  /*text-shadow: 2px 1px 0 rgba(61, 132, 148, 0.99333), 1px 1px 0.2px rgba(47, 147, 172, 0.99333),2px 2px 0.4px rgba(47, 147, 172, 0.98667),3px 3px 0.6px rgba(47, 147, 172, 0.98),4px 4px 0.8px rgba(47, 147, 172, 0.97333);*/
}

/* SLIDEOUT */
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /*z-index: -1;*/
  width: 320px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background: gray;
}

.slideout-panel {
  position:fixed;
  width:100%;
  /*position:relative;*/
  /*z-index: 1;*/
}

.slideout-open,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

button{
  border: 0px;
  outline: none;
}
button:disabled{
  border: 0;
  box-shadow: 2px 1px 0 0 rgba(169, 150, 120, 0.99333) inset;
  opacity: 0.8;
  background: radial-gradient(at top 55% left 55%, #E8D5B5, #E8D5B5, #C1AA81)
}
button:disabled *{
  opacity: 0.5;
}

.prisdivs{
  display: block;
  vertical-align: middle;
}
.prisdivs>.resurs{
  display: inline-block;
}
.dyrt{
  transform: scale(0.5);
}
.dyrt svg{
  display: none;
}

.btn{
  position: relative;
  display: inline-block;
  background: radial-gradient(at top 33% left 33%,#EAB200, #EAB302, #BB972B); height:65px; width:65px; margin: 10px 5px 5px 5px; border-radius: 7px; z-index:1; text-align: center; padding: 6px;*/
}
.btn .resurs {
  position: absolute;
}
.buy_btn {
  display: inline-block;
  height: 20px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  padding: 10px;
  margin: 20px 0 20px 0px;
  color: white;
  text-align: center;
}
.red {
  background: #DE7979; 
  border-radius: 0 10px 10px 0;
}
.green { 
  background: #75B96B;
  border-radius: 5px 0 0 5px;
  margin-left: -3px;
}
.item_menu {margin-left: -150px; transition: 0.3s cubic-bezier(0, 0, 0, 1) ;}
.korg * {
    opacity: 1 !important;
}
.icon {
  display: block;
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 15px;
}
.spacer{
  margin: 0 10px;
}
.item_img {
  max-width:100%; max-height:100%;
}
/*.shadow{
  box-shadow: 2px 1px 0 0 rgba(183, 150, 95, 0.99333), 1px 1px 0 0.2px rgba(233, 214, 182, 0.99333),2px 2px 0 0.4px rgba(233, 214, 182, 0.98667),3px 3px 0 0.6px rgba(233, 214, 182, 0.98),4px 4px 0 0.8px rgba(233, 214, 182, 0.97333),5px 5px 0 1px rgba(233, 214, 182, 0.96667),6px 6px 0 1.2px rgba(233, 214, 182, 0.96),7px 7px 0 1.4px rgba(233, 214, 182, 0.95333),8px 8px 0 1.6px rgba(233, 214, 182, 0.94667),9px 9px 0 1.8px rgba(233, 214, 182, 0.94),10px 10px 0 2px rgba(233, 214, 182, 0.93333),11px 11px 0 2.2px rgba(233, 214, 182, 0.92667),12px 12px 0 2.4px rgba(233, 214, 182, 0.92),13px 13px 0 2.6px rgba(233, 214, 182, 0.91333),14px 14px 0 2.8px rgba(233, 214, 182, 0.90667),15px 15px 0 3px rgba(233, 214, 182, 0.9),16px 16px 0 3.2px rgba(233, 214, 182, 0.89333),17px 17px 1px 3.4px rgba(233, 214, 182, 0.88667),18px 18px 2px 3.6px rgba(233, 214, 182, 0.88),19px 19px 3px 3.8px rgba(233, 214, 182, 0.87333),20px 20px 5px 4px rgba(233, 214, 182, 0.86667)
}
.shadow_blue{
  box-shadow: 2px 1px 0 0 rgba(61, 132, 148, 0.99333), 1px 1px 0 0.2px rgba(47, 147, 172, 0.99333),2px 2px 0 0.4px rgba(47, 147, 172, 0.98667),3px 3px 0 0.6px rgba(47, 147, 172, 0.98),4px 4px 0 0.8px rgba(47, 147, 172, 0.97333),5px 5px 0 1px rgba(47, 147, 172, 0.96667),6px 6px 0 1.2px rgba(47, 147, 172, 0.96),7px 7px 0 1.4px rgba(47, 147, 172, 0.95333),8px 8px 0 1.6px rgba(47, 147, 172, 0.94667),9px 9px 0 1.8px rgba(47, 147, 172, 0.94),10px 10px 0 2px rgba(47, 147, 172, 0.93333),11px 11px 0 2.2px rgba(47, 147, 172, 0.92667),12px 12px 0 2.4px rgba(47, 147, 172, 0.92),13px 13px 0 2.6px rgba(47, 147, 172, 0.91333),14px 14px 0 2.8px rgba(47, 147, 172, 0.90667),15px 15px 0 3px rgba(47, 147, 172, 0.9),16px 16px 0 3.2px rgba(47, 147, 172, 0.89333),17px 17px 1px 3.4px rgba(47, 147, 172, 0.88667),18px 18px 2px 3.6px rgba(47, 147, 172, 0.88),19px 19px 3px 3.8px rgba(47, 147, 172, 0.87333),20px 20px 5px 4px rgba(47, 147, 172, 0.86667)
}*/

/* NATION */
.hexagon {
  margin: -10px 1px;
}
.active {
  border: 2px red dashed;
  border-radius: 100px;
  margin:0 !important;
}
.pos_1_upp{
  bottom: 80px; /*right: 20px;*/ right: -25px;
}
.pos_2_upp{
  bottom: 58px; /*right: -12.5px;*/ right: -50px;
}
.pos_3_upp{
  bottom: 27px; /*right: -12.5px;*/ right: -50px;
}
.pos_1_ner{
  bottom: 15px; /*right: 20px;*/ right: -25px;
}
.pos_2_ner{
  bottom: 23px; /*right: -12.5px;*/ right: -50px;
}
.pos_3_ner{
  bottom: 63px; /*right: -12.5px;*/ right: -50px;
}
.mark {
  position: relative;
  display: inline-block;
}
.mark .icon_resurs {
  position: absolute;
  left: 8px;
  top: 11px;
}
.byggnad {
  /*display: inline-block;*/
  position: relative; 
  width: 0; 
  height: 0; 
  text-align: right;
  z-index: 1;
}
.byggnad img{
  max-width: 25px; max-height: 25px; 
    position: absolute;
    /*bottom: 0;*/
    /*left: -13px;*/
}
#new_btn{
  float: right;
  width: auto;
  height: 35px;
  border-radius: 50px;
  background: #28AF60;
  font-size: 1.1em;
  box-shadow: 5px 10px 2px -1px #208D4C;
  margin-right: 10px;
}
#new_btn:active, #new_btn:disabled {
  box-shadow: 3px 3px 14px -3px #208D4C inset;
}

#modal{
  width: 90%;
  position: absolute;
  left: 50%;
  margin-left: -45%;
  padding: 5px 0;
}
#modal_arrow:before{
  content: "";
  position: absolute;
  width: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid aliceblue;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
}
#modal_content{
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  background: aliceblue;
  border-radius: 10px;
  padding: 5px 0;
}
#modal p{
  color: black;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  padding: 5px 0;
}

.overlay { 
  display: block;
  position: relative; 
  /*position: fixed; */left:0px; top:0px; height:0%; width:100%; /*background: radial-gradient(at 40% 0%, #2ECC71, #1E8246) 0% 0% repeat scroll transparent;*/ z-index: 2;transition: 0.5s; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45); overflow: hidden;
}
.hide>div{
  display: none;
}
.inside{
  /*display: flex;
  display: -webkit-flex; */
}
.star{
  display: block;
  position: absolute;
  transform: translate(-15px, -10px);
  top: 0;
  right: -30px;
}

/* EVENT */
@keyframes roll {
  100% {-webkit-transform: translate(0,0) rotate(0);-webkit-transform-origin: 17px 22px; }
  60% {-webkit-transform: translate(-50px,-30px) rotate(250deg);-webkit-transform-origin: 24px 22px; }
  40% {-webkit-transform: translate(60px,-50px) rotate(500deg);-webkit-transform-origin: 16px 22px; }
  15% {-webkit-transform: translate(-40px,-7px) rotate(990deg);-webkit-transform-origin: 23px 22px; }
  from {-webkit-transform: translate(0,0) rotate(1000deg);}
}
.dice{display:inline-block;margin:-10px 5px;width: 50px;height: 50px;background-color: rgb(229, 229, 229);border-radius: 5px;}
.dice>div{width:10px; height:10px; background-color:white; border-radius:100%; box-shadow: 2px 2px 6px 2px rgb(139, 139, 139) inset; position:absolute; }    
.roll1 {
  animation: roll 0.5s reverse;
}
.roll2 {
  animation: roll 0.5s;
}

.drag {
  width: 25%;
  font-size: 16px;
  vertical-align: middle;
}



/*LOGIN*/
#loginmenu {
      background: #F0D4AA;
      text-align: center;
    }
#loginmenu    input {
      display: block;
      margin: 10px auto;
      text-align: center; 
      font-weight: 100;
      font-size: x-large;
      color: white;
      vertical-align: middle;
      border: none;
      border-radius: 20px;
      background: #E0C69F;
      width: 140px;
      transition: 0.5s background-color, 0.2s width;
      height: 40px;
      /*padding: 8px;*/
    }
#loginmenu    input:focus, #loginmenu button:focus {
      border-color: #f1c40f;
      color: white;
      outline: none;
    }
#loginmenu    input:focus {
      font-weight: 700;
      width: 160px;
    }
#loginmenu    input.focus:focus, #loginmenu  button:focus{
      background-color: #f1c40f;
    }
#loginmenu    button {
      border: solid white 1px;
      border-radius: 20px;
      padding: 8px;
      min-width: 38px;
      background: #F0D4AA;
      color: white;
      font-weight: 200;
      opacity: 1;
      font-size: large;
    }
#loginmenu    button:disabled {
      opacity: 0.3;
    }
#loginmenu    .pass {
      background-image: linear-gradient(#f1c40f, #f1c40f);
      background-repeat: no-repeat;
      background-position-x: -200px;
    }
#loginmenu    #reg_label { 
      position: absolute;
      background: #2ECC71;
      border-radius: 20px;
      padding: 2px;
      margin-left: 57px;
      color: white;
    }
    @keyframes no {
      100% {-webkit-transform: translateX(0);}
      60% {-webkit-transform: translateX(10px);}
      40% {-webkit-transform: translateX(-10px);}
      15% {-webkit-transform: translateX(10px);}
      from {-webkit-transform: translateX(0);}
    }
    @keyframes yes {
      100% {-webkit-transform: translateY(0) rotate(0deg);}
      90% {-webkit-transform: translateY(-5px) rotate(3deg);}
      80% {-webkit-transform: translateY(0) rotate(0deg);}
      50% {-webkit-transform: translateY(-5px) rotate(-2deg);}
      40% {-webkit-transform: translateY(0) rotate(0deg);}
      10% {-webkit-transform: translateY(-5px) rotate(1deg);}
      from {-webkit-transform: translateY(0);}
    }
    @keyframes yesen {
      100% {-webkit-transform: translateY(0);}
      30% {-webkit-transform: translateY(-5px);}
      from {-webkit-transform: translateY(0);}
    }


    .game {
      width: 100%; 
      height: 37px; 
      margin: 5px 0; 
      background: #E6CCA4; 
      border-radius: 5px; 
      vertical-align: middle; 
      font-size: x-large;
      padding: 13px 0;
      color: white;
    }
    .game.active{
      background: gray;
    }
    .gamedrop {
      width:20px; 
      height:20px; 
      border-radius: 50%; 
      background:#c0392b; 
      font-size: 13px;
      display: inline-block;
      margin-left: 10px;
      color: white;
    }
    #loginmenu .gamedrop>button {
    border: none;
    padding: 0;
    min-width: 0;
    background: inherit;
    font-size: inherit;
    font-weight: inherit;
    }




