<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Settrisk App</title>
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >

    <link rel="apple-touch-icon-precomposed" href="img/Settrisk-icon-152x152-04.png">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <script src="js/angular.min.js"></script>   
  </head>
  <body>
  <div id="select_game" style="max-width: 300px; padding: 5px; margin: 0 auto; text-align: center; overflow: hidden; ">
    <% for(i in games){ %>
    <div class="game" style=" " data="<%= games[i].name %>"><%= games[i].date.toString().split(' ')[1]+' '+games[i].date.toString().split(' ')[2]+' '+games[i].date.toString().split(' ')[4] %></div>
    <% } %>
  </div>
  <div id="newgame" hidden>
    <div id="margintop" style="width:100%;"></div>
    <form id="newgame_form" action="/newgame" method="post">
      <label id="reg_label" name="reg_label" style="" hidden>Ny</label>
      <select class="focus" type="list" name="game" >
        <option>Game 1</option>
        <option>Game 2</option>
      </select>
      <!-- <label>Password</label> -->
      <input class="pass" type="number" name="password" value="" pattern="\d*" onkeyup="checkPass(this)" style="-webkit-text-security: disc;" required>
      <input id="registration" type="checkbox" name="registration" style="display: none;" default="false">
      <button id="submit_btn" type="submit" name="submit">Registrera</button>
    </form>
  </div>


  <style type="text/css">
    .game {
      width: 100%; 
      height: 60px; 
      margin: 5px 0; 
      background: #E6CCA4; 
      border-radius: 5px; 
      vertical-align: middle; 
      font-size: x-large;
      padding: 13px;
      color: white;
    }
    .game.active{
      background: gray;
    }

    body {
      background-color: #F0D4AA;
      text-align: center;
    }
    input, select {
      display: block;
      margin: 10px auto;
      text-align: center; 
      font-weight: 100;
      font-size: x-large;
      color: white;
      vertical-align: middle;
      border: none;
      border-radius: 20px;
      background: #E0C69F;
      width: 140px;
      transition: 0.5s background-color, 0.2s width;
      height: 40px;
      padding: 8px;
    }
    input:focus, select:focus, button:focus {
      border-color: #f1c40f;
      color: white;
      outline: none;
    }
    input:focus {
      font-weight: 900;
      width: 160px;
    }
    input.focus:focus, select.focus:focus, button:focus{
      background-color: #f1c40f;
    }
    button {
      border: solid white 1px;
      border-radius: 20px;
      padding: 8px;
      min-width: 38px;
      background: #F0D4AA;
      color: white;
      font-weight: 200;
      opacity: 1;
    }
    button:disabled {
      opacity: 0.3;
    }
    .pass {
      background-image: linear-gradient(#f1c40f, #f1c40f);
      background-repeat: no-repeat;
      background-position-x: -200px;
    }
    #reg_label { 
      position: absolute;
      background: #2ECC71;
      border-radius: 20px;
      padding: 2px;
      margin-left: 57px;
      color: white;
    }
    @keyframes no {
      100% {-webkit-transform: translateX(0);}
      60% {-webkit-transform: translateX(10px);}
      40% {-webkit-transform: translateX(-10px);}
      15% {-webkit-transform: translateX(10px);}
      from {-webkit-transform: translateX(0);}
    }
    @keyframes yes {
      100% {-webkit-transform: translateY(0) rotate(0deg);}
      90% {-webkit-transform: translateY(-5px) rotate(3deg);}
      80% {-webkit-transform: translateY(0) rotate(0deg);}
      50% {-webkit-transform: translateY(-5px) rotate(-2deg);}
      40% {-webkit-transform: translateY(0) rotate(0deg);}
      10% {-webkit-transform: translateY(-5px) rotate(1deg);}
      from {-webkit-transform: translateY(0);}
    }
    @keyframes yesen {
      100% {-webkit-transform: translateY(0);}
      30% {-webkit-transform: translateY(-5px);}
      from {-webkit-transform: translateY(0);}
    }

  </style>
  <script type="text/javascript">
    margintop.style.marginTop = (screen.height*2/5-138/2)+"px";
    inputtags = document.getElementsByTagName('input');
    var host = "192.168.1.73";

    var user ={};

    var games = document.getElementsByClassName('game');
    for(i in games){
      games[i].onclick = function(){
        this.className += ' active';
        user.game = this.getAttribute('data');
        select_game.hidden = true;
        newgame.hidden = false;
      }
    }

    function checkUser() {
      console.log('Checking user')
      var xmlhttp = new XMLHttpRequest();
      var url = "http://"+host+":3000/check?username="+login_form.username.value;
      console.log(url);
      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
              if(xmlhttp.responseText == "true"){
                login_form.registration.checked = false;
                reg_label.hidden = true;
                submit_btn.innerHTML = "Logga in"
                login_form.username.style.background = "#2ECC71";
                login_form.password.focus();
              }
              if(xmlhttp.responseText == "false"){
                login_form.registration.checked = true;
                reg_label.hidden = false;
                login_form.submit.innerHTML = "Registrera"
                login_form.username.style.background = "";
              }
          }
      }
      xmlhttp.open("POST", url, true);
      xmlhttp.send();

      // if(self.value == "Andreas") {
      //   registration.checked = false;
      //   submit_btn.innerHTML = "Logga in"
      //   self.style.background = "#2ECC71";
      // } else {
      //   registration.checked = true;
      //   submit_btn.innerHTML = "Registrera"
      // }
    }
    function checkPass(self) {
      console.log('Checking...')
      setTimeout(function(){self.style.backgroundPositionX = "-"+160*(1-self.value.length/4)+"px";},0)

      if(self.value.length == 4 && !registration.checked){
        var xmlhttp = new XMLHttpRequest();
        var url = "http://"+host+":3000/check?username="+login_form.username.value+"&password="+self.value;
        xmlhttp.onreadystatechange = function() {
          console.log(xmlhttp);
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var response = JSON.parse(xmlhttp.responseText);
            console.log(response);
            if(response==true){
              login_form.password.style.backgroundImage="linear-gradient(#2ECC71,#2ECC71)";
              login_form.password.style.animation = "yes 0.6s";
              setTimeout(function(){login_form.submit.click()}, 0);
            } else {
              login_form.password.style.backgroundImage="linear-gradient(#FF5050,#FF5050)";
              login_form.password.value="";
              login_form.password.style.animation = "no 0.5s";
              setTimeout(function(){
                login_form.password.style.backgroundImage="linear-gradient(#f1c40f,#f1c40f)";
                login_form.password.style.backgroundPositionX = "-160px";
                login_form.password.style.animation = "";
              }, 500);
            }
          }
        }
        xmlhttp.open("POST", url, true);
        xmlhttp.send();
      }
      if(self.value.length == 4 && registration.checked ){
        // self.style.backgroundImage="linear-gradient(#2ECC71,#2ECC71)";
        self.style.backgroundPositionX = "-160px";
        // submit_btn.focus();
      } 

      // self.style.backgroundPositionX = "-"+160*(1-self.value.length/4)+"px";
      // if(self.value.length == 4 && !registration.checked){
      //   if(self.value == "1234"){
      //     self.style.backgroundImage="linear-gradient(#2ECC71,#2ECC71)";
      //     self.style.animation = "yes 0.5s";
      //     setTimeout(function(){login_form.submit.click()}, 500);
      //     return
      //   } else {
      //     self.style.backgroundImage="linear-gradient(#FF5050,#FF5050)";
      //     self.value="";
      //     self.style.animation = "no 0.5s";
      //     setTimeout(function(){
      //       self.style.backgroundImage="linear-gradient(#f1c40f,#f1c40f)";
      //       self.style.backgroundPositionX = "-160px";
      //       self.style.animation = "";
      //     }, 500);
      //   }
      // }
      // if(self.value.length == 4 && registration.checked ){
      //   self.style.backgroundImage="linear-gradient(#2ECC71,#2ECC71)";
      //   submit_btn.focus();
      //   return
      // } 

    }

    newgame_form.game.onblur = function(e){
      if(newgame_form.registration.checked){
        reg_label.hidden = false;
      }
    }
    newgame_form.game.onfocus = function(e){
      reg_label.hidden = true;
      // this.value = "";
      this.style.background = "";
    }
    newgame_form.password.onblur = function(e){
      if(newgame_form.registration.checked){
        login_form.password.style.backgroundPositionX = "-162px";
      }
    }


  </script>
  </body>
</html>






