<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Angular.js -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script>
    var app = angular.module('myApp', []);
    app.controller('GamesController', function($scope, $http) {
      $scope.current_player=0;
      $scope.current_game=0;
      $scope.password='';
      $scope.signinbutton='false';
      $scope.current_gamef = function(scope_var, value){console.log($scope);eval('$scope.'+scope_var+'=value;');};
      
      $http.get('games.json').success(function(data){
        $scope.games=data;
        console.log($scope);
      });
    });
    $(document).ready(function(){
        $(".playerm").click(function(){
          if(!$(this).hasClass("active")){
            $(".playerm").removeClass("active");
            $(this).addClass("active");
          };
        });
    });
  </script>
  <style>
h1{font-size: 80px !important;}
h2{font-size: 60px !important;margin:12px !important;}
h3{font-size: 40px !important;vertical-align: middle !important;}
.btn-lg span{font-size: 40px !important;}
@media only screen and (min-width: 1000px) {
  h1{font-size: 50px !important;}
  h2{font-size: 20px !important;margin:7px !important;}
  h3{font-size: 20px !important;}
  .btn-lg{padding: 0px 12px !important;}
  .btn-lg span{font-size: 20px !important;}
}
  </style>

</head>
<body ng-app='myApp'>
  <div class='jumbotron'>
    <div class='container'>
      <div class="row col-xs-12" height='20px'></div>
      <h1>Settrisk</h1>
    
      <div ng-controller='GamesController'>

        <div class="row">
          <div class="col-xs-12">
            <table class="table">
              <thead>
                <tr>
                  <th><h2>#</h2></th>
                  <th><h2>Game</h2></th>
                  <th><h2>Players</h2></th>
                  <th><h2>Date</h2></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='game in games' class='fade in'>
                  <td><h2>{{game.index}}</h2></td>
                  <td><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" ng-click='current_gamef("current_game", game.index)'><h2 style='display:inline-block;'> {{game.name}} </h2><span class='glyphicon glyphicon-chevron-right'></span></button></td>
                  <td><h3 ng-repeat='player in game.players' class='text-{{player.color}}' style='display:inline-flex;margin:3px;'> {{player.name}} </h3></td>
                  <td><h3>{{game.date}}</h3></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        

        <h2>New Game</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><h2>Start New Game</h2></button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class="form-signin-heading"> {{games[current_game-1].name}} </h1><h3>logga in som:</h3>
                </div> 
                <form class="form-signin">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="#" data-toggle="pill"><h2>Bank</h2></a></li>
                    <li ng-click='current_player=player.name' ng-repeat="player in games[current_game-1].players">
                      <a href="player.php" data-toggle="pill"><h2> {{player.name}} </h2></a>
                    </li>
                  </ul> 
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-lg btn-primary" type="submit" click="window.location.href = 'http://localhost:8888/2.1/game_1';">Sign in</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
</body>